<%= link_to 'Create single event', {controller: :events, action: :new, act: 'single'},class: "btn btn-primary btn-lg" %>
<%= link_to 'Create group event', {controller: :events, action: :new, act: 'group'},class: "btn btn-primary btn-lg" %>

<div id="calendar"></div>
