<div class="list-group">
  <h4 class="list-group-item active">
    <%= t('invited event') %>
  </h4>
  <% if @plans.any? %>
	  <% @plans.each do |p| %>
	  	<!-- 主催者でない場合 -->
	  	<% unless p.event.owner_id == current_user.id %>
	  	<%= link_to p.event.title, event_path(p.event), class: "list-group-item" %>
	  	<% end %>
	  <% end %>
	<% else %>
		<p class="list-group-item"><%= t('there is no invited event') %></p>
	<% end %>
</div>