<div class="list-group">
  <h4 class="list-group-item active">
    <%= t('hoseted event') %>
  </h4>
  <% if @events.any? %>
	  <% @events.each do |ev| %>
	  	<%= link_to ev.title, event_path(ev), class: "list-group-item" %>
	  <% end %>
	<% else %>
		<p class="list-group-item"><%= t('there is no hoseted event') %></p>
  <% end %>
</div>