<div class="title">
	<% if @act == 'group' %>
		<h1><%= t('invitate event') %></h1>
	<% else %>
		<h1><%= t('add event') %></h1>
	<% end %>
</div>


<%= render 'form' %>

<%= link_to 'Back', events_path %>
