// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.time_candidate{
	button{
		margin-bottom: 10px;
	}
	#cnt{
		font-size: 16px;
	}
}

/*events#new*/
.input-group{
	width:250px;
}


