// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
		text-align: center;
	}

.event_info{
	border-bottom: solid 1px;
	dl{
		font-size: 20px;
		dd{
			margin-bottom: 10px;
		}
	}
	#place_info{
		text-align: left;
	}
}

.time_candidate{
	border-bottom: solid 1px;
	padding: 20px 0;
	h2{
		text-align: center;
	}
	dl{
		font-size: 20px;
		dd{
			margin-bottom: 10px;
		}
	}
	button{
		margin-bottom: 10px;
	}
	#cnt{
		font-size: 16px;
	}
	table{
		font-size: 20px;
		td{
			font-size: 20px;
		}
	}
}

.participant{
	font-size: 20px;
	th{
		text-align: center;
	}
	td{
		font-size: 20px;
	}
}

.chat{
	
}
