// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event_info{
	text-align: center;
	border-bottom: solid 1px;

}

#place_info{
	text-align: left;
}

.time_candidate{
	border-bottom: solid 1px;
	padding: 20px 0;
}

.datetime{
	/*text-align: center;*/
}

